#service {
  padding-bottom: 150px;

  .heading {
    margin-top: 118px;
  }

  .inner-container {
    margin-bottom: 130px;
  }

  .scroll-down {
    margin-top: 143px;
  }
}

.carousel {
  li {
    $lr-paddigs: 20px;

    border: 1px solid #ccc;
    position: relative;
    list-style: none;
    float: left;

    width: 363px;
    margin-right: 30px;
    padding: 193px $lr-paddigs 73px $lr-paddigs;

    color: #8e9297;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }

    &:first-child,
    &:last-child {
      margin-top: 37px;
    }

    &:nth-child(2) {
      padding: 230px $lr-paddigs 115px $lr-paddigs;
      border: 2px solid #c59a6d;
      border-radius: 2px;

      h3 {
        color: #c59a6d;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 100px;
    }

    &.branding:before {
      @include sprite();
      height: 64px;
      width: 54px;
      left: 154px;
    }

    &.web-development:before {
      @include sprite(54);
      height: 52px;
      width: 64px;
      left: 149px;
      top: 150px;
    }

    &.app-design:before {
      @include sprite(118);
      height: 64px;
      width: 36px;
      left: 163px;
    }
  }

  h3 {
    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    margin-top: 16px;
  }
}