$font-size: 22px;
$line-height: 36px;
$font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
$container-width: 1171px;

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  -webkit-font-smoothing: antialiased;
  font: normal #{$font-size}/#{$line-height} $font-family;
  min-width: $container-width + 30px;
}
.container {
  width: $container-width;
  margin: 0 auto;
}
.inner-container {
  width: 720px;
  margin: 0 auto;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #424a51;
  text-align: center;
  margin-top: 85px;

  display: inline-block;
  width: 100%;
}
.line {
  &:after {
    content: "";
    display: block;
    width: 60px;
    border-top: 2px solid #c59a6d;
    margin: 46px auto 39px auto;
  }

  &.small:after {
    width: 32px;
  }

  &.big:after {
    width: 104px;
  }

  &.thin:after {
    border-top-width: 1px;
  }
}
.scroll-down {
  width: 40px;
  height: 40px;
  border: solid 1px #c59a6d;
  margin: 36px auto 0 auto;
  position: relative;
  cursor: pointer;

  @include transition(background, .2s, ease-in-out);

  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 11px;
    position: absolute;
    left: 11px;
    top: 14.5px;

    @include sprite(154px, 0);
  }

  &:hover {
    background: #c59a6d;
  }

  &.dark:after {
    @include sprite(154px, 22px)
  }

  &.dark:hover:after {
    @include sprite(154px, 0)
  }
}
.landing-description {
  color: #424a51;
  text-align: center;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}