.button {
  $text-color: #fff;
  $height: 48px;
  $border-color: #c59a6d;

  border: 1px solid $border-color;

  &, &.btn-input input {
    color: $text-color;
    font-size: 14px;
    font-weight: bold;
    line-height: $height;
    text-align: center;
    text-transform: uppercase;
  }

  width: 300px;
  height: $height;

  @include transition(background, .2s, ease-in-out);

  &:hover {
    background: $border-color;
  }

  &.link a {
    display: block;
    color: $text-color;
  }

  &.btn-input input {
    border: none;
    display: block;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  &.center {
    margin: 0 auto;
  }

  &.filled {
    background: $border-color;

    &:hover {
      background: transparent;
    }

    &.link:hover a,
    &:hover {
      color: $border-color;
    }
  }

  &.small {
    width: 167px;
  }
}